

/* O header inteiro fica fixo no topo */
header.sticky-top {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* --- Header Superior (Logo, Busca, Ícones) --- */
.header-top {
    padding: 0.75rem 0;
    border-bottom: 1px solid #e9ecef;
}

.header-top .navbar-brand img {
    max-height: 75px;
    width: auto;
}


/* Barra de Busca */
.search-form {
    width: 60%;
    padding-left: 20%;
}

.search-form .form-control {
    border-right: none;
    background-color: #f8f9fa;
}

.search-form .form-control:focus {
    box-shadow: none;
    border-color: #dee2e6;
    background-color: white;
}

.btn-search {
    background-color: #3B4CCA;
    color: white;
    border: 1px solid #3B4CCA;
}

.btn-search:hover {
    background-color: #2a3c9a;
    color: white;
}


/* Links de Ação do Usuário (Login, Pedidos) */
.user-action-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    white-space: nowrap;
}

.user-action-link i {
    font-size: 1.5rem;
    color: #495057;
}

.user-action-link:hover, .user-action-link:hover i {
    color: #0075BE;
}

/* Definições dropdown */
.login-dropdown-menu {
    min-width: 300px;
}

/* Define os botões do dropdown */
.login-dropdown-menu .btn-primary {
    background-color: #3B4CCA;
    border-color: #3B4CCA;
}

.login-dropdown-menu .btn-primary:hover {
    background-color: #2a3c9a;
    border-color: #2a3c9a;
}

.login-dropdown-menu .btn-secondary {
    background-color: #3B4CCA;
    border-color: #3B4CCA;
}

.login-dropdown-menu .btn-secondary:hover {
    background-color: #2a3c9a;
    border-color: #2a3c9a;
}



/* --- Navegação Principal (Inferior) --- */
.main-nav {
    padding: 0;
    background-color: white;
    border-bottom: 4px solid #3B4CCA;
}

.main-nav .nav-link {
    color: #333;
    font-weight: 700;
    font-size: 20px;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.main-nav .nav-link:hover {
    color: #0075BE;
}

